@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor

<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="admin-panel-container">
            <MudMenu Label="Admin Panel" FullWidth="false" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                <ActivatorContent>
                    <MudChip Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary">Admin Panel</MudChip>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Href="/register">Register User</MudMenuItem>
                    <MudMenuItem Href="/usersandroles">Users</MudMenuItem>
                    <MudMenuItem Href="/roles">Roles</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </div>
    </Authorized>
</AuthorizeView>