@page "/edituserandrole/{userId}"
@using Bondlog.Shared.Domain.Models;
@using Bondlog.Shared.Domain.Models;
@using Bondlog.Client.Services.Interfaces;
@inject IUserAndRoleService UserAndRoleService;

<h3>EditUserAndRole</h3>

@if (userAndRoleModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="custom-data-grid">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input id="userName" class="form-control" @bind="userAndRoleModel.UserName" />
        </div>

        <div class="form-group">
            <label for="roleName">Role Name</label>
            <input id="roleName" class="form-control" @bind="userAndRoleModel.RoleName" />
        </div>

        <button type="button" class="btn btn-primary" @onclick="SaveUser">Save</button>
    </div>
}

@code {
    private UserAndRoleModel userAndRoleModel;
    [Parameter] public string userId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(userId))
        {
            userAndRoleModel = await UserAndRoleService.GetUserAndRoleByIdAsync(userId);
        }
    }

    private async Task SaveUser()
    {
        // bool success = await UserService.UpdateUserAsync(userModel);

        // if (success)
        // {
        //     NavigationManager.NavigateTo("/userrole");
        // }
    }
}