@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;

<AuthorizeView>
    <NotAuthorized>
        <a href="Login">Login</a>
    </NotAuthorized>
    <Authorized>
        Hello, @context.User.Identity!.Name
        <a href="Logout">Logout</a>
    </Authorized>
</AuthorizeView>
