@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bondlog</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Administrator">
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Operator, Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="incorrect">
                        <span class="oi oi-plus" aria-hidden="true"></span> Incorrect Delivery
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Operator, Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="outstanding">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Outstanding
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Operator, Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="resolved">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Resolved
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Operator, Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="collections">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Collections
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
